body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav {
  background: #444;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly; /* Cách đều các phần tử với khoảng cách đều từ hai bên và giữa các phần tử */
}

nav ul li {
  margin: 0 10px; /* Khoảng cách giữa các mục */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

section {
  padding: 20px 0;
}

section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.project {
  margin-bottom: 20px;
}

img {
  width: 50%;
  height: 50%;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

form button {
  display: block;
  width: 100%;
  padding: 10px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background: #555;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}
